{% extends "base.html" %}

{% block title %}About Us | {{ block.super }}{% endblock %}

{% block content %}
<div class="row landing" id="l-about">
    <div class="overlay">
        <div class="title">{ about us }</div>
        <div class="subtitle">Mitchell | Gabby</div>
    </div>
</div>

<div class="row window" id="w-about"></div>
<div class="row" id="about">
    <div class="col-xs-12 content">
        <div class="row inner">
            <div class="col-xs-12 panel-outer">
                <div class="panel-inner">
                    <div class="hitchhiker">
                        The Hitchhiker's Guide has this to say about Souffl&eacute; Mignon:
                    </div>
                    <blockquote>
                        Souffl&eacute; Mignon is a blog run by
                        Mitchell Goff and Gabby Moreno, both lifelong residents of
                        the Sol system, since January of 2017. It is known mostly
                        for its humor, its numerous xkcd references, and for being
                        a huge waste of everyone's time.
                    </blockquote>
                </div>
            </div>

            <div class="col-sm-6 panel-outer">
                <div class="panel-inner">
                    <div class="image mitchell"></div>
                    <div class="name">Mitchell Goff</div>
                    <div class="description">I'm just an ordinary person that's really kawaii</div>
                </div>
            </div>

            <div class="col-sm-6 panel-outer">
                <div class="panel-inner">
                    <div class="image gabby"></div>
                    <div class="name">Gabriela Moreno</div>
                    <div class="description">
                        &#161;Gabriela Moreno! is her name when her parents are mad
                        about something. She is 20 years old. She studies
                        Cognitive Science and Computational Linguistics &amp;
                        Computer Science at the University of Southern California.
                        Try saying that five times fast without sounding pretentious.
                        Doesn't like it when things are pronounced incorrectly
                        yet will go out of her way to pronounce things in a subtly
                        annoying way like saying /suh-poh-sub-ly/ instead of
                        supposedly. Had perfect attendance since pre-school.
                        No, seriously. Her favourite color is blue but not
                        like a light blue, it has to be like a midnight
                        blue. Part time Question Asker, full-time professional
                        Finder Outer. She resides in Los Angeles. Se habla espa&ntilde;ol.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
