{% extends "base.html" %}

{% block content %}
<div class="row landing" id="l-about">
    <div class="overlay">
        <div class="title">{ about us }</div>
        <div class="subtitle">Mitchell | Gabby</div>
    </div>
</div>

<div class="row window" id="w-about"></div>
<div class="row" id="about">
    <div class="col-xs-12 content">
        <div class="row inner">
            <div class="col-xs-12 panel-outer">
                <div class="panel-inner">
                    <div class="hitchhiker">
                        The Hitchhiker's Guide has this to say about Souffl&eacute; Mignon:
                    </div>
                    <blockquote>
                        Souffl&eacute; Mignon is a blog run by
                        Mitchell Goff and Gabby Moreno, both lifelong residents of
                        the Sol system, since January of 2017. It is known mostly
                        for its humor, its numerous xkcd references, and for being
                        a huge waste of everyone's time.
                    </blockquote>
                </div>
            </div>

            <div class="col-sm-6 panel-outer">
                <div class="panel-inner">
                    <div class="image mitchell"></div>
                    <div class="name">Mitchell Goff</div>
                    <div class="description">I'm just an ordinary person</div>
                </div>
            </div>

            <div class="col-sm-6 panel-outer">
                <div class="panel-inner">
                    <div class="image gabby"></div>
                    <div class="name">Gabriela Moreno</div>
                    <div class="description">I'm just an ordinary person too!</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
