<div class="row">
    <div class="col-xs-12 header {{ view.header_class }}">
        <a class="title" href="/">{ souffl&eacute; mignon }</a>

        <div class="search">
            <div class="search-box-wrapper">
                <input type="text" class="search-box" data-hidden="true" placeholder="Search" />
            </div>
            <div class="search-btn">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>

        <div class="links">
            <a class="link" href="/">Home</a>
            <a class="link" href="/about/">About Us</a>
            <a class="link" href="#">Blog</a>
            <a class="link" href="#">Videos</a>
        </div>
    </div>
</div>
