{% extends "base.html" %}

{% block content %}
<div class="row full-height">
  <div class="col-xs-12" id="landing-background"></div>
  <div class="col-xs-12" id="landing-overlay">
      <div class="inner">
          <div class="title">{ souffl&eacute; mignon }</div>
          <div class="subtitle">a blog about <b>science</b>, <b>cooking</b>, and <b>love</b></div>
          <!-- <div class="links">
              <div class="link">About Us</div>
              <div class="link">Articles</div>
              <div class="link">Videos</div>
          </div> -->
      </div>
  </div>
</div>

<div class="row full-height" id="page">
    <div class="col-xs-12 window"></div>
    <div class="col-xs-12 content"></div>
</div>
{% endblock content %}
