/* Global styles */
/* Colors:
    #984B43 (Rust)
    #233237 (Gunmetal)
    #18121E (Navy)
    # EAC67A (Warm Yello) */

html, body { height: 100%; }
textarea:focus,
input:focus { outline: none; }
a {
    color: #233237;
    text-decoration: none;
}
a:hover {
    color: #18121E;
    text-decoration: underline;
}

.container-fluid { height: 100%; }
.row.full-height { min-height: 100%; }


/* Header styles */
.header {
    padding: 25px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333;
}

.header .title {
    float: left;
    display: block;
    margin-top: -6px;
    margin-left: 20px;
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: inherit;
    text-decoration: none;
}

.header .links { float: right; }
.header .link {
    float: left;
    display: block;
    padding: 2px 0px;
    margin: 0px 20px;
    color: inherit;
    border-bottom: solid 1px rgba(0,0,0,0);
    transition: border-color 0.2s;
}
.header .link:hover {
    border-color: #333;
    text-decoration: none;
}

.header .search {
    float: right;
    margin-right: 20px;
    padding: 2px 0px;
}
.header .search-box-wrapper {
    float: left;
    overflow: hidden;
}
.header .search-box {
    width: 160px;
    margin-right: -180px;
    margin-left: 20px;
    background: none;
    border: none;
    border-bottom: solid 1px #333;
}
.header .search-btn {
    float: left;
    margin-left: 20px;
    margin-top: 2px;
    font-size: 15px;
    cursor: pointer;
}


/* Header!Dark styles */
.header.dark {
    position: fixed;
    padding-top: 25px;
    padding-right: 25px;
    z-index: 10;
    color: #FFF;
    background: none;
}
.header.dark .link:hover { border-color: #FFF; }
.header.dark .search-box { border-color: #FFF; }
.header.dark .title { display: none; }
