/* Background image styles */
#l-home.landing {
    height: 100%;
    background: url(/static/images/home.jpg) no-repeat center center fixed;
    background-size: cover;
}
#w-home.window { height: 100%; }


/* Page content styles */
#content {
    position: relative;
    z-index: 20;
    padding: 40px 0;
    background-color: #FAFAFA;
}
#content .inner {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
}

#content .column-header {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: solid 1px #EAEAEA;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}
#content .column-header .top {
    font-weight: 700;
    color: #333;
}
#content .column-header .bottom {
    font-weight: 300;
    color: #999;
}


/* Recent blog styles */
#content .blog {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.09);
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);
    text-align: center;
}

#content .blog a {
    position: relative;
    z-index: 1;
}
#content .blog .link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#content .blog .info {
    padding-bottom: 20px;
    border-bottom: solid 2px #FFF;
    transition: border-color 0.2s;
}
#content .blog:hover .info {
    border-color: #984B43;
}

#content .blog .title {
    margin-top: 20px;
    margin-bottom: 8px;
    font-family: "Lato", serif;
    font-size: 24px;
    font-weight: 300;
    color: #333;
    text-align: center;
}

#content .blog .author {
    display: inline-block;
    margin: 0 8px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #333;
}
#content .blog .author { font-weight: 700; }
#content .blog .date {
    display: inline-block;
    margin: 0 8px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #333;
}
#content .blog .border {
    display: inline-block;
    height: 10px;
    margin-top: 2px;
    border-left: solid 1px #CCC;
}

#content .blog .image {
    width: 100%;
    overflow: hidden;
}
#content .blog .image img {
    width: 100%;
}
