/* Background image styles */
#l-about.landing {
    height: 55%;
    background-image: url(/static/svg/space-lp.svg);
}
#w-about.window { margin-top: 55vh; }


/* Page content styles */
#about { background-color: #FAFAFA; }
#about .content {
    position: relative;
    padding: 15px 0;
    z-index: 20;
    background-color: #FAFAFA;
    font-family: "Lato", sans-serif;
    color: #333;
}
#about .inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 860px;
}

#about .panel-outer {
    display: flex;
    padding: 15px 15px;
}
#about .panel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.09);
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

#about .hitchhiker {
    padding: 20px 20px;
    font-size: 16px;
    font-weight: 300;
    border-bottom: solid 1px rgba(0,0,0,0.09);
}
#about blockquote {
    display: block;
    position: relative;
    margin-bottom: 0px;
    padding: 15px 20px 15px 45px;
    border-left: 6px solid #984B43;
    border-right: 2px solid #984B43;
    background-color: #FAFAFA;
    font-size: 16px;
    font-weight: 300;
}
#about blockquote::before {
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: "Lora", serif;
    font-size: 60px;
    font-weight: 700;
    color: #888;
    content: "\201C";
}

#about .image {
    width: 100%;
    height: 260px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#about .image.mitchell { background-image: url(https://s3.amazonaws.com/souffle-mignon-images/mitchell.jpg); }
#about .image.gabby { background-image: url(https://s3.amazonaws.com/souffle-mignon-images/gabby.jpg); }

#about .name {
    margin: 0 20px;
    padding: 15px 0;
    border-bottom: solid 1px rgba(0,0,0,0.09);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
#about .description {
    margin-bottom: 42px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    text-align: justify;
}
#about .description a { font-weight: 700; }

#about .links {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 20px;
    padding: 10px 0;
    border-top: solid 1px #EAEAEA;
    text-align: center;
}
#about .link {
    display: inline-block;
    width: 30px;
    margin: 0 8px;
    border-bottom: solid 1px #FFF;
    color: #233237;
}
#about .link:hover {
    color: #984B43;
    border-color: #984B43;
}
