/* Header styles */
.header {
    width: 100%;
    padding: 25px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333;
}

.header-lg .title {
    float: left;
    display: block;
    margin-top: -6px;
    margin-left: 20px;
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: inherit;
    text-decoration: none;
}

.header-lg .links { float: right; }
.header-lg .link {
    float: left;
    display: block;
    padding: 2px 0px;
    margin: 0px 20px;
    color: inherit;
    border-bottom: solid 1px rgba(0,0,0,0);
    transition: border-color 0.2s;
}
.header-lg .link:hover {
    border-color: #333;
    text-decoration: none;
}

.header-lg .search {
    float: right;
    margin-right: 20px;
    padding: 2px 0px;
}
.header-lg .search-box-wrapper {
    float: left;
    overflow: hidden;
}
.header-lg .search-box {
    width: 160px;
    margin-right: -180px;
    margin-left: 20px;
    background: none;
    border: none;
    border-bottom: solid 1px #333;
}
.header-lg .search-btn {
    float: left;
    margin-left: 20px;
    margin-top: 2px;
    font-size: 15px;
    cursor: pointer;
}


/* Header!Dark styles */
.header.dark {
    position: fixed;
    padding-top: 25px;
    padding-right: 25px;
    z-index: 10;
    color: #FFF;
    background: none;
}
.header.dark .link:hover { border-color: #FFF; }
.header.dark .search-box { border-color: #FFF; }
.header.dark .header-lg .title { display: none; }


/* Header!Small styles */
.header-sm .title {
    display: block;
    width: 100%;
    font-family: "Lora", serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: inherit;
    text-decoration: none;
}
.header-sm .menu {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}
