/* Background image styles */
#l-home.landing {
    height: 100%;
    background-image: url(/static/svg/home-lp.svg);
}
#l-home.landing .overlay { cursor: pointer; }
#w-home.window { margin-top: 100vh; }


/* Page content styles */
#home {
    position: relative;
    z-index: 20;
    padding: 40px 0;
    background-color: #FAFAFA;
}
#home .inner {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
}



/* Recent article styles */
#home .article {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.12);
    text-align: center;
    overflow: hidden;
}

#home .article a {
    position: relative;
    z-index: 4;
}
#home .article .link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
#home .article .info {
    padding-bottom: 20px;
    border-bottom: solid 2px #FFF;
    transition: border-color 0.3s ease-in-out;
}
#home .article:hover .info {
    border-color: #984B43;
}

#home .article .title {
    margin-top: 20px;
    margin-bottom: 8px;
    font-family: "Lato", serif;
    font-size: 24px;
    font-weight: 300;
    color: #333;
    text-align: center;
}

#home .article .author {
    display: inline-block;
    margin: 0 8px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #333;
}
#home .article .author { font-weight: 700; }
#home .article .date {
    display: inline-block;
    margin: 0 8px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #333;
}
#home .article .border {
    display: inline-block;
    height: 10px;
    margin-top: 2px;
    border-left: solid 1px #CCC;
}

#home .article .image {
    width: 100%;
    height: 360px;
}
#home .article:hover .image .background {
    opacity: 0;
}



/* Sidebar styles */
#home .sidebar .content { padding: 0 15px; }

#home .sidebar .item.tweet {
    padding: 15px 0;
    border-bottom: solid 1px #CCC;
}
#home .sidebar .item.tweet:last-of-type { border-bottom: none; }

#home .sidebar .item.tweet .icon {
    float: left;
    padding: 8px 10px;
    font-size: 20px;
    color: #AAA;
}

#home .sidebar .item.tweet .body { overflow: auto; }
#home .sidebar .item.tweet .text {
    font-size: 14px;
    font-weight: 300;
}
#home .sidebar .item.tweet .date {
    margin-top: 3px;
    font-size: 11px;
    font-weight: 500;
    color: #525252;
}

#home .sidebar .item.video {
    padding: 10px 0;
    overflow: hidden;
}

#home .sidebar .item.video img {
    float: left;
    width: 60px;
    height: 45px;
}

#home .sidebar .item.video .text {
    overflow: auto;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #333;
}
