/* Title styles */
#article {
    border-top: solid 1px #EAEAEA;
    background-color: #FAFAFA;
}

#article .title-wrapper {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

#article .title {
    margin-bottom: 8px;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #333;
    text-align: center;
}
#article .author {
    display: inline-block;
    margin: 0 8px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #333;
}
#article .author a { font-weight: 700; }
#article .date {
    display: inline-block;
    margin: 0 8px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #333;
}
#article .border {
    display: inline-block;
    height: 10px;
    margin-top: 2px;
    border-left: solid 1px #CCC;
}

#article .image {
    width: 100%;
}
#article .image img {
    width: 100%;
}



/* Link styles */
#article .links {
    position: absolute;
    top: 20px;
    left: -100px;
}
#article .link {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: solid 1px #233237;
    border-radius: 50%;
    color: #233237;
    text-align: center;
    cursor: pointer;
}
#article .link:hover {
    border-color: #984B43;
    color: #984B43;
}
#article .share {
    margin-bottom: 8px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #233237;
    text-align: center;
}


/* Article styles */
#article .entry {
    position: relative;
    max-width: 660px;
    margin: 40px auto;
    font-family: "Lora", serif;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    line-height: 2.0em;
}
#article .entry img {
    display: block;
    margin: 20px auto;
}



/* Comment styles */
#article .responses {
    max-width: 660px;
    margin: 40px auto;
}
#article .responses .write {
    width: 100%;
    margin: 10px 0;
    padding: 30px 20px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.09);
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}
