{% load compress %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Souffl&eacute; Mignon{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" href="https://s3.amazonaws.com/souffle-mignon-images/logo.png" />
    <link rel="apple-touch-icon" href="https://s3.amazonaws.com/souffle-mignon-images/logo.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Lora:400,400i,700,700i" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    {% compress css %}
        <link rel="stylesheet" href="/static/css/core.css" />
        <link rel="stylesheet" href="/static/css/header.css" />
        <link rel="stylesheet" href="/static/css/footer.css" />
        <link rel="stylesheet" href="/static/css/login.css" />
        <link rel="stylesheet" href="/static/css/index.css" />
        <link rel="stylesheet" href="/static/css/about.css" />
        <link rel="stylesheet" href="/static/css/search.css" />
        <link rel="stylesheet" href="/static/css/detail.css" />
        <link rel="stylesheet" href="/static/css/list.css" />
    {% endcompress %}


    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.4.1/velocity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://platform.twitter.com/widgets.js" async></script>
    <script src="https://use.fontawesome.com/5b2c94550c.js"></script>

    {% compress js %}
        <script>window.SM = { state: {} }</script>
        <script src="/static/js/lib/html-to-text.js"></script>
        <script src="/static/js/login.js"></script>
        <script src="/static/js/header.js"></script>
        <script src="/static/js/search.js"></script>
        <script src="/static/js/detail.js"></script>
        <script src="/static/js/init.js"></script>

        {% block scripts %}
        {% endblock scripts %}
        {% include "fb.html" %}
    {% endcompress %}
</head>

<body>
    <div class="container-fluid">
        {% include "header.html" %}
        {% block content %}
        {% endblock content %}
        {% include "footer.html" %}
    </div>
</body>
</html>
