<div class="row header {{ view.header_class }}">
    <div class="col-xs-12 hidden-xs header-lg">
        <a class="title" href="/">{ souffl&eacute; mignon }</a>

        <div class="search">
            <div class="search-box-wrapper">
                <input type="text" class="search-box" data-hidden="true" placeholder="Search" />
            </div>
            <div class="search-btn">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>

        <div class="links">
            <a class="link" href="/">Home</a>
            <a class="link" href="/about/">About Us</a>
            <a class="link" href="/articles/">Blog</a>
            <a class="link"
                target="_blank"
                href="https://www.youtube.com/channel/UCx60rjk4NvoeP25qP4Y56MA">
                Videos
            </a>
        </div>
    </div>

    <div class="col-xs-12 visible-xs header-sm">
        <a class="title" href="/">souffl&eacute; mignon</a>
        <span class="glyphicon glyphicon-menu-hamburger menu"></span>
    </div>
</div>
