{% extends "base.html" %}

{% block content %}
<div class="row landing" id="l-home">
    <div class="overlay">
        <div class="title">{ souffl&eacute; mignon }</div>
        <div class="subtitle">a blog about <b>science</b>, <b>cooking</b>, and <b>love</b></div>
    </div>
</div>

<div class="row window" id="w-home"></div>
<div class="row" id="home">
    <div class="col-xs-12">
        <div class="row inner">

            <div class="col-sm-8 content">
                {% for article in object_list %}
                    <div class="article">
                        <a class="link" href="/articles/{{ article.slug }}/"></a>
                        <div class="image"><img src="{{ article.img }}" /></div>
                        <div class="info">
                            <div class="title">{{ article.title }}</div>
                            <div class="author">by <a href="/about/">{{ article.author }}</a></div>
                            <div class="border"></div>
                            <div class="date">{{ article.date|date:"F j, Y" }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-sm-4 hidden-xs sidebar">
                <div class="section">
                    <div class="title">
                        <span class="first">recent</span>
                        <span class="second"><a href="/about/">gabby</a></span>
                    </div>
                    <div class="content">
                        {% for article in object_list %}
                            {% if article.author == 'Gabby Moreno' %}
                                <div class="item">
                                    <a href="/articles/{{ article.slug }}">
                                        {{ article.title }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="section">
                    <div class="title">
                        <span class="first">recent</span>
                        <span class="second"><a href="/about/">mitchell</a></span>
                    </div>
                    <div class="content">
                        {% for article in object_list %}
                            {% if article.author == 'Mitchell Goff' %}
                                <div class="item">
                                    <a href="/articles/{{ article.slug }}">
                                        {{ article.title }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
