{% extends "base.html" %}
{% load util %}

{% block content %}
<div class="row landing preloadable" id="l-home">
    <img class="preloader" src="https://s3.amazonaws.com/souffle-mignon-images/home.jpg" />
    <div class="background"></div>
    <div class="overlay" onclick="window.location = '/about/'">
        <div class="title">{ souffl&eacute; mignon }</div>
        <div class="subtitle">a blog about <b>science</b>, <b>cooking</b>, and <b>love</b></div>
    </div>
</div>

<div class="row window" id="w-home"></div>
<div class="row" id="home">
    <div class="col-xs-12">
        <div class="row inner">

            <div class="col-sm-8 content">
                {% for article in object_list %}
                    <div class="article">
                        <a class="link" href="/articles/{{ article.slug }}/"></a>
                        <div class="image preloadable"
                             style="background-image: url('data:image/svg+xml;base64,{{ article.svg }}')">
                            <div class="background"></div>
                            <img class="preloader" src="{{ article.img }}" />
                        </div>
                        <div class="info">
                            <div class="title">{{ article.title }}</div>
                            <div class="author">by <a href="/about/">{{ article.author }}</a></div>
                            <div class="border"></div>
                            <div class="date">{{ article.date|date:"F j, Y" }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-sm-4 hidden-xs sidebar">
                <div class="section">
                    <div class="title">
                        <span class="first">twitter</span>
                        <span class="second">
                            <a href="https://twitter.com/soufflemignon" target="_blank">@soufflemignon</a>
                        </span>
                    </div>
                    <div class="content">
                        {% for tweet in view.tweets %}
                            <div class="item tweet">
                                <div class="icon"><span class="fa fa-twitter" aria-hidden="true"></span></div>
                                <div class="body">
                                    <div class="text">{{ tweet.text|urlify|safe }}</div>
                                    <div class="date">{{ tweet.created_at|to_date|date:"F j, Y - g:i A" }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="section">
                    <div class="title">
                        <span class="first">youtube</span>
                        <span class="second">
                            <a href="https://www.youtube.com/channel/UCx60rjk4NvoeP25qP4Y56MA" target="_blank">
                                Souffl&eacute; Mignon
                            </a>
                        </span>
                    </div>
                    <div class="content">
                        {% for video in view.videos %}
                            {% if video.id.kind == "youtube#video" %}
                                <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank">
                                    <div class="item video">
                                        <img src="{{ video.snippet.thumbnails.default.url }}">
                                        <div class="text">{{ video.snippet.title|truncatechars:60 }}</div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
