<div id="overlay"></div>
<div id="login">
    <div class="banner">
        <div class="text">{ souffl&eacute; mignon }</div>
    </div>

    <div class="blurb">
        Sign in to like articles and post comments on Souffl&eacute; Mignon.
    </div>

    <div class="button tw">
        <span class="fa fa-twitter"></span>
        <div class="wrapper">
            <div class="lb">Continue with Twitter</div>
            <div class="sublb">We won't post without asking</div>
        </div>
    </div>

    <div class="button fb">
        <span class="fa fa-facebook"></span>
        <div class="wrapper">
            <div class="lb">Continue with Facebook</div>
            <div class="sublb">We won't post without asking</div>
        </div>
    </div>
</div>
