{% extends "base.html" %}

{% block title %}{{ object.title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row full-height" id="article">
    <div class="title-wrapper">
        <div class="title">{{ object.title }}</div>
        <div class="author">by <a href="/about/">{{ object.author }}</a></div>
        <div class="border"></div>
        <div class="date">{{ object.date|date:"F j, Y" }}</div>
    </div>

    <div class="image">
        <img src="{{ object.img }}" />
    </div>

    <div class="entry">{{ object.entry|safe|linebreaks }}</div>

    <div class="responses">
        <div class="write login">
            <span class="fa fa-comment-o" aria-hidden="true"></span>
            <span class="button">Write a response...</span>
        </div>

        <div class="write">
            <span class="fa fa-comment-o" aria-hidden="true"></span>
            <input type="text" class="textbox" placeholder="Write a response..." />
        </div>
    </div>
</div>
{% endblock content %}
