{% extends "base.html" %}
{% load likes %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        SM.page = 'detail';
        SM.article = '{{ object.id }}';
    </script>
{% endblock scripts %}

{% block content %}
<div class="row full-height" id="article">
    <div class="title-wrapper">
        <div class="title">{{ object.title }}</div>
        <div class="author">by <a href="/about/">{{ object.author }}</a></div>
        <div class="border"></div>
        <div class="date">{{ object.date|date:"F j, Y" }}</div>
    </div>

    <div class="image preloadable"
         style="background-image: url('data:image/svg+xml;base64,{{ object.svg|safe }}')">
        <div class="background"></div>
        <img class="preloader" src="{{ object.img }}" />
    </div>

    <div class="entry">
        <div class="visible-md visible-lg links">
            <div class="share">share</div>
            {% if not user.is_authenticated %}
                <div class="link like" data-action="show-login"><span class="fa fa-heart-o"></span></div>
            {% elif user|likes:object %}
                <div class="link like selected" data-action="unlike"><span class="fa fa-heart"></span></div>
            {% else %}
                <div class="link like" data-action="like"><span class="fa fa-heart-o"></span></div>
            {% endif %}

            <a class="link share-tw"
               href="https://twitter.com/intent/tweet?text={{ view.tweet|urlencode }}">
                <span class="fa fa-twitter"></span>
            </a>
            <div class="link share-fb"><span class="fa fa-facebook"></span></div>
        </div>
        {{ object.entry|safe|linebreaks }}
    </div>

    <div class="responses">
        {% if not user.is_authenticated %}
            <div class="write" data-action="show-login">
                <div class="inner">
                    <span class="fa fa-comment-o" aria-hidden="true"></span>
                    <span class="button">Write a response...</span>
                </div>
            </div>
        {% else %}
            <div class="write" data-action="comment">
                <div class="picture">
                    <img src="{{ user.picture }}" />
                </div>
                <div class="name-wrapper">
                    <div class="lbl">Write a response...</div>
                    <div class="name">{{ user.name }}</div>
                </div>

                <div class="textbox" contenteditable></div>
                <div class="publish">Publish</div>
                <div class="spinner"><span class="fa fa-spinner fa-spin"></span></div>
            </div>
        {% endif %}

        {% for comment in view.comments %}
            {% include "comment.html" with comment=comment %}
        {% endfor %}
    </div>
</div>

{% csrf_token %}
{% include "login.html" %}
{% endblock content %}
